.header{
    display: flex;
    height: 60px;
    /* justify-content: center; */
    align-items: center;
    
    background: #FFF;
}
.head-list {
    display: flex;
    gap: 30px;
    margin: 0px 0px 0px 300px;
}
.head-list1 {
    display: flex;
    gap: 30px;
}
.logo{
    margin-left: 200px;
}
.li1{
    list-style: none;
}
.letter{
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 62.004px;
    font-style: normal;
    font-weight: 700;
    line-height: 92.4px; /* 149.023% */
    display: flex;
    width: 598.59px;
    height: 184.8px;
    text-align: center;
    margin: 100px auto;
}
#sec1 {
    height: 100vh;
    background: url(tossbg.png) no-repeat;
    background-size: cover;
}