@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}
p{
    font-family: "Noto Sans KR";
}
.header{
    display: flex;
    height: 60px;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    position: sticky;
    top: 0;
    z-index: 10;
}
.head-list {
    display: flex;
    gap: 30x;
    margin: 0px 0px 0px 300px;
    
}
.head-list1 {
    display: flex;
    padding-right: 200px;
}
/* .head-list P{
    color: #4e5968;
} */
.logo{
    margin-left: 200px;
}
.a1{
    padding: 12px 10px;
    border-radius: 10px;
    color: #4e5968;
    color: #4E5968;
    font-family: "Noto Sans KR";
    font-size: 14.063px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 142.222% */
}
.li1{
    list-style: none;
    padding: 0px 8px;
    /* color: blue; */
    color: #B0B8C1;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px; /* 133.333% */
}
.a1:hover{
    background-color: rgb(243, 244, 245);
}
.letter{
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 62.004px;
    font-style: normal;
    font-weight: 700;
    line-height: 92.4px; /* 149.023% */
    display: flex;
    /* width: 700px; */
    /* height: 184.8px; */
    text-align: center;
    margin: 100px auto 0px auto;
    justify-content: center;
}
#sec1 {
    height: 100vh;
    background: url(tossbg.png) no-repeat;
    background-size: cover;
}
.btn-inner{
    border-radius: 7px;
    background: rgba(0, 12, 30, 0.80);
    display: flex;
    width: 108.89px;
    height: 24px;
    padding: 11px 15.8px 11px 14px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-direction: row;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appstore{
    color: white;
    /* font-size: large; */
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간의 간격 조절 */
    margin-top: 20px;
}




#sec2{
    background-color: #f9fafb;
    padding: 200px 0px;
}
.letter2{
    color: #191F28;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 29.875px;
    font-style: normal;
    font-weight: 700;
    line-height: 51.2px; /* 171.381% */
    padding: 0px 0px 50px;
}

#sec3{
    margin: 0px 24.5px;
    padding: 260px 0px 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sec3-1{
    width: 1272px;
}
.sec3-1-text{
    padding: 0px 0px 0px 100px;
}
.home{
    color: #3182F6;
    font-family: "Noto Sans KR";
    font-size: 26.141px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.4px; /* 139.247% */
}
.moneyLeftText{
    color: #191F28;
    font-family: "Noto Sans KR";
    font-size: 46.875px;
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 149.333% */
    
    
}
.mokup1{
    position: absolute;
    top: 260px;
    left: 50vw;

}
.letter3{
    width: fit-content;
    color: #333D4B;
    font-family: "Noto Sans KR";
    font-size: 21.383px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.5px; /* 161.345% */
    /* display: flex; */
    /* justify-content: end; */
    /* align-items: end; */
    position: absolute;
    top: 1252px;
    left: 50vw;
}
#sec4{
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
}